.ipynb_checkpoints/
.keras
.cache
.bashrc
.bash_history
.bash_logout
.conda
.config
.git
.gnupg
.ipython
.jupyter
.keras
.local
.nv
.profile
.python_history
.ssh
.wget-hsts
*.sh
*.pub
helpers/
dataset/
train_*/
anaconda3/
